

body {
  margin:-1px;
  background: black;
  font-family: CooperBlackStd, Helvetica, serif;
  height: 200vh;

}






.teeth {
  position: fixed;
  background: url(../final/teeth.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}


.corn {
  position: fixed;
  top: 515px;
  background: url(../final/corn.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 20vw;
}


.cherry {
  position: fixed;
  background: url(../final/cherry2.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}




@media only screen and (max-width: 600px) {


  .teeth {
  position: absolute;
  left:-339px;
  background: url(../final/teeth.svg)no-repeat;
  background-size: contain;
  width: 250vw;
  height: 250vh;
}

.corn {
  position: fixed;
  top: 450px;
  background: url(../final/corn.svg)no-repeat;
  background-size: contain;
  width: 400vw;
  height: 400vw;
}



}


