

body {
  margin:-1px;
  background: black;
  font-family: CooperBlackStd, Helvetica, serif;
  height: 200vh;

}






.teeth {
  position: fixed;
  background: url(../final/teeth.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}


.corn {
  position: fixed;
  top: 515px;
  background: url(../final/corn.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 20vw;
}


.cherry {
  position: fixed;
  background: url(../final/cherry2.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}





