

body {
  margin:-1px;
  background: black;
  font-family: CooperBlackStd, Helvetica, serif;

}






.teeth {
  position: absolute;
  background: url(../final/teeth.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}


.corn {
  position: absolute;
  top: 515px;
  background: url(../final/corn.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 20vw;
}





