

body {
  margin:-1px;
  background: black;
  font-family: CooperBlackStd, Helvetica, serif;
  height: 100vh;

}





.teeth {
  position: fixed;
  top:-575px;
  background: url(../final/teeth.svg)no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}




.steven {
  font-size: 22px;
  position: absolute;
  top:17px;
  left:19px;
  color: white;
  z-index: -1;
}



.summer {
  font-size: 15px;
  position: absolute;
  top:22px;
  left:240px;
  color: white;
  z-index: -1;
}

.cherry {
  position: fixed;
  top:50px;
  left: 0px;
  background: url(../final/cherry.svg)no-repeat;
  background-size: contain;
  width: 92vw;
  height: 92vh;
  transition: all .2s ease-in-out;
  transform-origin: -10%;

}

.watermelon {
  position: fixed;
  top:50px;
  left:485px;
  background: url(../final/watermelon.svg)no-repeat;
  background-size: contain;
  width: 92vw;
  height: 92vh;
  transition: all .2s ease-in-out;
  transform-origin: 18%;
}

.fruit {
  position: fixed;
  top:50px;
  left:976px;
  background: url(../final/fruit.svg)no-repeat;
  background-size: contain;
  width: 92vw;
  height: 92vh;
  transition: all .2s ease-in-out;
}



@media only screen and (min-width: 600px) {

  .cherry.hover {
    transform: scale(1.1);
    z-index: 1;



  }


  .watermelon.hover {
    transform: scale(1.1);
    z-index: 1;



  }

  .fruit.hover {
    transform: scale(1.1);
    z-index: 1;


  }
}



.cherrytexttitle {
  font-size: 20px;
  position: absolute;
  top:155px;
  left:562px;
  color: white;
  z-index: -1;
  display: none;
}

.cherrytextinfo {
  font-size: 15px;
  position: absolute;
  top:208px;
  left:562px;
  color: white;
  z-index: -1;
  display: none;
}


.watermelontexttitle {
  font-size: 20px;
  position: absolute;
  top:155px;
  left:98px;
  color: white;
  z-index: -1;
  display: none;
  text-align: right;
}


.watermelontextinfo {
  font-size: 15px;
  position: absolute;
  top:208px;
  left:162px;
  color: white;
  z-index: -1;
  display: none;
  text-align: right; 
}


.fruittexttitle {
  font-size: 20px;
  position: absolute;
  top:155px;
  left:548px;
  color: white;
  z-index: -1;
  display: none;
  text-align: right;
}


.fruittextinfo {
  font-size: 15px;
  position: absolute;
  top:208px;
  left:612px;
  color: white;
  z-index: -1;
  display: none;
  text-align: right;
}


.show {
display: block !important;
}





.dim {

  opacity:.2;
}






@media only screen and (max-width: 600px) {

  body {
  margin:-1px;
  background: black;
  font-family: CooperBlackStd, Helvetica, serif;
  height: 100vh;
scroll-snap-type: x mandatory;

}






  

  .steven {
  font-size: 20px;
  position: fixed;
  top:17px;
  left:19px;
  color: white;
  z-index: -1;
}

.summer {
  font-size: 12px;
  position: fixed;
  top:24px;
  left:225px;
  color: white;
  z-index: -1;
}

  .cherry {
  position: absolute;
  top:50px;
  left: 25px;
  background: url(../final/cherry.svg)no-repeat;
  background-size: contain;
  width: 360px;
  height: 600px;
  transition: all .2s ease-in-out;
  transform-origin: -10%;
  scroll-snap-align: center;
 

}

.watermelon {
  position: absolute;
  top:50px;
  left:485px;
  background: url(../final/watermelon.svg)no-repeat;
  background-size: contain;
  width: 365px;
  height: 605px;
  transition: all .2s ease-in-out;
  transform-origin: 18%;
  scroll-snap-align: center;
}

.fruit {
  position: absolute;
  padding-left: 45px;
  top:50px;
  left:960px;
  background: url(../final/fruit.svg)no-repeat;
  background-size: contain;
  width: 335px;
  height: 575px;
  transition: all .2s ease-in-out;
  scroll-snap-align: start;
  
}


.cherrytexttitle {
  font-size: 15px;
  position: absolute;
  top:695px;
  left:29px;
  color: white;
  z-index: -1;
  display: block;
}


.watermelontexttitle {
  font-size: 15px;
  position: absolute;
  top:695px;
  left:calc(100vw + 47px);
  color: white;
  z-index: -1;
  display: block;
  text-align: left;
  width: 80vw;
}


.fruittexttitle {
  font-size: 15px;
  position: absolute;
  top:695px;
  left:calc(100vw + 519px);
  color: white;
  z-index: -1;
  display: block;
  text-align: left;
  width: 80vw;
}













  }
