

body {
  margin:-1px;
  background: black;
  font-family: CooperBlackStd, Helvetica, serif;
  height: 100vh;

}





.steven {
  font-size: 22px;
  position: absolute;
  top:17px;
  left:19px;
  color: white;
  z-index: -1;
}



.summer {
  font-size: 15px;
  position: absolute;
  top:22px;
  left:240px;
  color: white;
  z-index: -1;
}

.cherry {
  position: fixed;
  top:50px;
  left: 0px;
  background: url(../final/cherry.svg)no-repeat;
  background-size: contain;
  width: 92vw;
  height: 92vh;
  transition: all .2s ease-in-out;
  transform-origin: -10%;

}

.watermelon {
  position: fixed;
  top:50px;
  left:485px;
  background: url(../final/watermelon.svg)no-repeat;
  background-size: contain;
  width: 92vw;
  height: 92vh;
  transition: all .2s ease-in-out;
  transform-origin: 18%;
}

.fruit {
  position: fixed;
  top:50px;
  left:976px;
  background: url(../final/fruit.svg)no-repeat;
  background-size: contain;
  width: 92vw;
  height: 92vh;
  transition: all .2s ease-in-out;
}


.cherry.hover {
  transform: scale(1.1);
  z-index: 1;



}


.watermelon.hover {
  transform: scale(1.1);
  z-index: 1;



}

.fruit.hover {
  transform: scale(1.1);
  z-index: 1;


}




.cherrytext {
  font-size: 20px;
  position: absolute;
  top:155px;
  left:562px;
  color: white;
  z-index: -1;
  display: none;
}


.watermelontext {
  font-size: 15px;
  position: absolute;
  top:22px;
  left:600px;
  color: white;
  z-index: -1;
  display: none;
}


.fruittext {
  font-size: 15px;
  position: absolute;
  top:22px;
  left:600px;
  color: white;
  z-index: -1;
  display: none;
}

.show {
display: block !important;
}





.dim {

  opacity:.2;
}
