body {
	background: white;
  margin: 0px;
}

.firstpage{
  display: grid;
  align-items: center;
  justify-content:center;
  height:100vh;
  width: 100vw;
  background-color: rgb(235, 180, 50);

}

.centerthings{
  display: grid;
  align-items: center;
  justify-content:center;
  height:150vh;
  width: 100vw;
  background-color: #f29580;

}
.lastpage{
  display: grid;
  align-items: center;
  justify-content:center;
  height:100vh;
  width: 100vw;
  background-color: #0894a1;

}

.letter{
	position:relative;
	float:left;
	width:125px;
	height:180px;
}

















.a .diamond {
position: absolute;
left:42px;
top:103px;
}

.a .talldescender {
	
	position: absolute;
left:59px;
top:30px;
}

.a .descender {
	
	position: absolute;
left:20px;
top:68px;
}

.a .triangle {
	position: absolute;
left:20px;
top:49px;
}

.a .line {
	position: absolute;
left:44px;
top:11px;
}

.a .littleline {
	position: absolute;
left:82px;
top:141px;
}

.a .littleline2 {
	position: absolute;
left:43px;
top:141px;
}

.a .toppoint {
	position: absolute;
left:58px;
top:22px;
}

.a .bottompoint {
	position: absolute;
left:65px;
top:136px;
}

.a .bottompoint2 {
	position: absolute;
left:26px;
top:136px;
}














.b .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.b .triangle {
  position: absolute;
left:20px;
top:49px;
}

.b .line {
  position: absolute;
left:44px;
top:11px;
}

.b .thicktoppoint {
  position: absolute;
left:57px;
top:22px;
}
.b .thicktoppoint2 {
  position: absolute;
left:57px;
top:88px;
}

.b .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.b .sharpdescender {
  
  position: absolute;
left:59px;
top:39px;
}

.b .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.b .middleline {
  position: absolute;
left:55px;
top:68px;
}
.b .middleline2 {
  position: absolute;
left:55px;
top:111px;
}







.c .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.c .triangle {
  position: absolute;
left:20px;
top:49px;
}

.c .line {
  position: absolute;
left:44px;
top:11px;
}
.c .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.c .diamond3 {
position: absolute;
left:52px;
top:32px;
}
.c .toptriangle {
position: absolute;
left:62px;
top:22px;
}
.c .middleline2 {
  position: absolute;
left:55px;
top:111px;
}
.c .diamond {
position: absolute;
left:59px;
top:112px;
}





.d .descender3 {
  
  position: absolute;
left:20px;
top:50px;
}

.d .diamond {
position: absolute;
left:42px;
top:103px;
}

.d .triangle {
  position: absolute;
left:20px;
top:49px;
}

.d .line {
  position: absolute;
left:44px;
top:11px;
}

.d .toppoint {
  position: absolute;
left:58px;
top:22px;
}

.d .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.d .mediumline {
  position: absolute;
left:56px;
top:108px;
}

.d .bottomtriangle {
  position: absolute;
left:59px;
top:117px;
}

.d .descender2 {
  position: absolute;
left:59px;
top:30px;
}














.e .descendermedium {
	
	position: absolute;
left:20px;
top:49px;
}

.e .diamond {
position: absolute;
left:42px;
top:103px;
}

.e .line {
  position: absolute;
left:44px;
top:10px;
}

.e .bottomline {
  position: absolute;
left:50px;
top:124px;
}

.e .littleline {
  position: absolute;
left:15px;
top:31px;
}

.e .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.e .bottompoint2 {
  position: absolute;
left:19px;
top:35px;
}
.e .diamond2 {
position: absolute;
left:60px;
top:130px;
}

.e .diamond3 {
position: absolute;
left:52px;
top:31px;
}

.e .toptriangle {
position: absolute;
left:62px;
top:21px;
}














.f .descendermedium {
  
  position: absolute;
left:20px;
top:49px;
}

.f .diamond {
position: absolute;
left:42px;
top:103px;
}

.f .line {
  position: absolute;
left:44px;
top:10px;
}

.f .bottomline {
  position: absolute;
left:50px;
top:124px;
}

.f .littleline {
  position: absolute;
left:15px;
top:31px;
}

.f .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.f .bottompoint2 {
  position: absolute;
left:19px;
top:35px;
}
.f .diamond2 {
position: absolute;
left:60px;
top:130px;
}

.f .diamond3 {
position: absolute;
left:52px;
top:31px;
}

.f .toptriangle {
position: absolute;
left:62px;
top:21px;
}








.g .descendermedium {
  
  position: absolute;
left:20px;
top:49px;
}

.g .diamond {
position: absolute;
left:42px;
top:103px;
}

.g .line {
  position: absolute;
left:44px;
top:10px;
}

.g .bottomline {
  position: absolute;
left:50px;
top:124px;
}

.g .littleline {
  position: absolute;
left:15px;
top:31px;
}

.g .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.g .bottompoint2 {
  position: absolute;
left:19px;
top:35px;
}
.g .diamond2 {
position: absolute;
left:60px;
top:130px;
}

.g .diamond3 {
position: absolute;
left:52px;
top:31px;
}

.g .toptriangle {
position: absolute;
left:62px;
top:21px;
}

.g .bottomline {
  position: absolute;
left:50px;
top:124px;
}
.g .sharpdescender {
  
  position: absolute;
left:54px;
top:96px;
}








.h{
position: relative;
right: 0px;
}
.h .talldescender2 {
  
  position: absolute;
left:59px;
top:40px;
}
.h .bottompoint {
  position: absolute;
left:65px;
top:136px;
}
.h .littleline {
  position: absolute;
left:82px;
top:141px;
}
.h .bottompoint2 {
  position: absolute;
left:58px;
top:26px;
}
.h .littleline2 {
  position: absolute;
left:54px;
top:21px;
}
.h .talldescender2h {
  
  position: absolute;
left:20px;
top:40px;
}
.h .bottompointh {
  position: absolute;
left:26px;
top:136px;
}
.h .littlelineh {
  position: absolute;
left:43px;
top:141px;
}
.h .bottompoint2h {
  position: absolute;
left:19px;
top:26px;
}
.h .littleline2h {
  position: absolute;
left:15px;
top:21px;
}
.h .diamond {
position: absolute;
left:42px;
top:103px;
}



















.i{
position: relative;
right: 33px;
}
.i .talldescender2 {
  
  position: absolute;
left:59px;
top:40px;
}
.i .bottompoint {
  position: absolute;
left:65px;
top:136px;
}
.i .littleline {
  position: absolute;
left:82px;
top:141px;
}
.i .bottompoint2 {
  position: absolute;
left:58px;
top:26px;
}
.i .littleline2 {
  position: absolute;
left:54px;
top:21px;
}










.j{
position: relative;
right: 7px;
}
.j .descenderj {
  position: absolute;
left:51px;
top:48px;
}
.j .littleline2 {
  position: absolute;
left:19px;
top:136px;
}
.j .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.j .sharpdescendershort {
  
  position: absolute;
left:51px;
top:39px;
}
.j .sharpdescendershort2 {
  
  position: absolute;
left:51px;
top:106px;
}
.j .line {
  position: absolute;
left:44px;
top:22px;
}
.j .diamond3 {
position: absolute;
left:23px;
top:72px;
}
.j .toptriangle {
position: absolute;
left:33px;
top:62px;
}
.j .diamond {
position: absolute;
left:20px;
top:142px;
}
.j .mediumline {
  position: absolute;
left:48px;
top:108px;
}


















.k .descender3 {
  
  position: absolute;
left:20px;
top:50px;
}

.k .triangle {
  position: absolute;
left:20px;
top:49px;
}

.k .line {
  position: absolute;
left:44px;
top:11px;
}

.k .thicktoppoint {
  position: absolute;
left:57px;
top:22px;
}
.k .thicktoppoint2 {
  position: absolute;
left:57px;
top:88px;
}

.k .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.k .sharpdescender {
  
  position: absolute;
left:59px;
top:39px;
}

.k .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.k .middleline {
  position: absolute;
left:55px;
top:68px;
}
.k .middleline2 {
  position: absolute;
left:55px;
top:111px;
}

.k .sharpdescender2 {
  
  position: absolute;
left:59px;
top:106px;
}
.k .bottompoint3 {
  position: absolute;
left:19px;
top:36px;
}
.k .littleline {
  position: absolute;
left:15px;
top:31px;
}



















.l{
position: relative;
right: 33px;
}
.l .talldescender2 {
  
  position: absolute;
left:59px;
top:40px;
}
.l .bottompoint {
  position: absolute;
left:65px;
top:136px;
}
.l .littleline {
  position: absolute;
left:82px;
top:141px;
}
.l .bottompoint2 {
  position: absolute;
left:58px;
top:26px;
}
.l .littleline2 {
  position: absolute;
left:54px;
top:21px;
}
.l .middleline {
  position: absolute;
left:55px;
top:111px;
}
.l .bottomline {
  position: absolute;
left:89px;
top:125px;
}
.l .diamond2 {
position: absolute;
left:100px;
top:130px;
}













.m{
position: relative;
right: 15px;
}
.m .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.m .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.m .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.m .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.m .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.m .talldescender3 {
  
  position: absolute;
left:84px;
top:40px;
}
.m .littleline {
  position: absolute;
left:15px;
top:41px;
}

.m .littleline2 {
  position: absolute;
left:107px;
top:141px;
}

.m .bottomline {
  position: absolute;
left:39px;
top:19px;
}

.m .bottomline2 {
  position: absolute;
left:72px;
top:18px;
}

.m .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}
.m .bottompoint5 {
  position: absolute;
left:83px;
top:26px;
}
.m .bottompoint6 {
  position: absolute;
left:90px;
top:136px;
}









.n .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.n .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.n .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.n .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.n .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.n .littleline {
  position: absolute;
left:15px;
top:41px;
}

.n .littleline2 {
  position: absolute;
left:74px;
top:141px;
}

.n .bottomline {
  position: absolute;
left:39px;
top:19px;
}

.n .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}







.o .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.o .diamond {
position: absolute;
left:42px;
top:103px;
}

.o .triangle {
  position: absolute;
left:20px;
top:49px;
}

.o .line {
  position: absolute;
left:44px;
top:11px;
}

.o .toppoint {
  position: absolute;
left:58px;
top:22px;
}

.o .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.o .mediumline {
  position: absolute;
left:56px;
top:108px;
}

.o .bottomtriangle {
  position: absolute;
left:59px;
top:117px;
}

.o .descender2 {
  position: absolute;
left:59px;
top:30px;
}













.p .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.p .triangle {
  position: absolute;
left:20px;
top:49px;
}

.p .line {
  position: absolute;
left:44px;
top:11px;
}

.p .thicktoppoint {
  position: absolute;
left:57px;
top:22px;
}
.p .thicktoppoint2 {
  position: absolute;
left:57px;
top:88px;
}

.p .bottompointopposite {
  position: absolute;
left:19px;
top:136px;
}
.p .sharpdescender {
  
  position: absolute;
left:59px;
top:39px;
}

.p .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.p .middleline {
  position: absolute;
left:55px;
top:68px;
}
.p .middleline2 {
  position: absolute;
left:55px;
top:111px;
}

.p .littlelineopposite {
  position: absolute;
left:15px;
top:141px;
}











.q .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.q .diamond {
position: absolute;
left:42px;
top:103px;
}

.q .triangle {
  position: absolute;
left:20px;
top:49px;
}

.q .line {
  position: absolute;
left:44px;
top:11px;
}

.q .toppoint {
  position: absolute;
left:58px;
top:22px;
}

.q .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.q .mediumline {
  position: absolute;
left:56px;
top:108px;
}

.q .bottomtriangle {
  position: absolute;
left:59px;
top:117px;
}

.q .descender2 {
  position: absolute;
left:59px;
top:30px;
}
.q .thicktoppoint {
  position: absolute;
left:57px;
top:128px;
}
.q .littleline2 {
  position: absolute;
left:74px;
top:129px;
}












.r .descender3 {
  
  position: absolute;
left:20px;
top:50px;
}

.r .triangle {
  position: absolute;
left:20px;
top:49px;
}

.r .line {
  position: absolute;
left:44px;
top:11px;
}

.r .thicktoppoint {
  position: absolute;
left:57px;
top:22px;
}
.r .thicktoppoint2 {
  position: absolute;
left:57px;
top:88px;
}

.r .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.r .sharpdescender {
  
  position: absolute;
left:59px;
top:39px;
}

.r .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.r .middleline {
  position: absolute;
left:55px;
top:68px;
}
.r .middleline2 {
  position: absolute;
left:55px;
top:111px;
}

.r .sharpdescender2 {
  
  position: absolute;
left:59px;
top:106px;
}
.r .bottompoint3 {
  position: absolute;
left:19px;
top:36px;
}
.r .littleline {
  position: absolute;
left:15px;
top:31px;
}













.s .thicktoppointmiddle {
  position: absolute;
left:16px;
top:72px;
}
.s .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.s .sharpdescendershort2 {
  
  position: absolute;
left:13px;
top:39px;
}
.s .line {
  position: absolute;
left:44px;
top:11px;
}
.s .diamond3 {
position: absolute;
left:52px;
top:32px;
}
.s .toptriangle {
position: absolute;
left:62px;
top:22px;
}
.s .littleline2 {
  position: absolute;
left:27px;
top:136px;
}
.s .diamond {
position: absolute;
left:28px;
top:142px;
}
.s .mediumline {
  position: absolute;
left:56px;
top:108px;
}




















.t{
position: relative;
right: 7px;
}
.t .descender {
  position: absolute;
left:20px;
top:68px;
}
.t .littleline2 {
  position: absolute;
left:43px;
top:141px;
}
.t .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.t .sharpdescendershort {
  
  position: absolute;
left:20px;
top:57px;
}
.t .linetee {
  position: absolute;
left:33px;
top:3px;
}
.t .diamond3 {
position: absolute;
left:52px;
top:31px;
}
.t .toptriangle {
position: absolute;
left:62px;
top:21px;
}
.t .diamond {
position: absolute;
left:-9px;
top:73px;
}

















.u{
transform: rotate(180deg);
position: relative;
right: 39px;
top:2px;
}

.u .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.u .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.u .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.u .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.u .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.u .littleline {
  position: absolute;
left:15px;
top:41px;
}

.u .littleline2 {
  position: absolute;
left:74px;
top:141px;
}

.u .bottomline {
  position: absolute;
left:39px;
top:19px;
}

.u .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}







.v{
transform: rotate(180deg);
position: relative;
right: 39px;
top:2px;
}

.v .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.v .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.v .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.v .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.v .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.v .littleline {
  position: absolute;
left:15px;
top:41px;
}

.v .littleline2 {
  position: absolute;
left:74px;
top:141px;
}

.v .bottomline3 {
  position: absolute;
left:37px;
top:18px;
}

.v .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}
.v .triangle2 {
  position: absolute;
left:20px;
top:40px;
}









.w{
transform: rotate(180deg);
position: relative;
right: 16px;
top:2px;
}
.w .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.w .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.w .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.w .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.w .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.w .talldescender3 {
  
  position: absolute;
left:84px;
top:40px;
}
.w .littleline {
  position: absolute;
left:15px;
top:41px;
}

.w .littleline2 {
  position: absolute;
left:107px;
top:141px;
}

.w .bottomline {
  position: absolute;
left:39px;
top:19px;
}

.w .bottomline2 {
  position: absolute;
left:72px;
top:18px;
}

.w .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}
.w .bottompoint5 {
  position: absolute;
left:83px;
top:26px;
}
.w .bottompoint6 {
  position: absolute;
left:90px;
top:136px;
}


















.x .thicktoppointmiddlex {
  position: absolute;
left:16px;
top:83px;
}
.x .sharpdescender {
  
  position: absolute;
left:53px;
top:31px;
}
.x .sharpdescender2 {
  
  position: absolute;
left:51px;
top:114px;
}
.x .sharpdescenderx {
  
  position: absolute;
left:14px;
top:31px;
}
.x .sharpdescender2x {
  
  position: absolute;
left:13px;
top:114px;
}
















.y{
transform: rotate(180deg);
position: relative;
right: 39px;
top:2px;
}

.y .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.y .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.y .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.y .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.y .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.y .littleline {
  position: absolute;
left:15px;
top:41px;
}

.y .littleline2 {
  position: absolute;
left:74px;
top:141px;
}

.y .bottomline3 {
  position: absolute;
left:37px;
top:18px;
}

.y .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}
.y .triangle2 {
  position: absolute;
left:20px;
top:40px;
}
.y .sharpdescender2 {
  
  position: absolute;
left:20px;
top:10px;
}
















.z .thicktoppointmiddlex {
  position: absolute;
left:16px;
top:83px;
}
.z .sharpdescender {
  
  position: absolute;
left:53px;
top:27px;
}
.z .sharpdescender2 {
  
  position: absolute;
left:51px;
top:114px;
}
.z .sharpdescenderx {
  
  position: absolute;
left:14px;
top:31px;
}
.z .sharpdescender2x {
  
  position: absolute;
left:13px;
top:114px;
}
.z .line {
  position: absolute;
left:44px;
top:59px;
}
.z .toptriangle {
position: absolute;
left:30px;
top:33px;
}
.z .diamond3 {
position: absolute;
left:20px;
top:45px;
}
.z .mediumline {
  position: absolute;
left:34px;
top:112px;
}
.z .middleline {
  position: absolute;
left:49px;
top:8px;
}
.z .diamond {
position: absolute;
left:42px;
top:124px;
}
.z .sharpdescendershort {
  
  position: absolute;
left:20px;
top:39px;
}
.z .sharpdescendershort2 {
  
  position: absolute;
left:51px;
top:115px;
}



















.zero .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.zero  .diamond {
position: absolute;
left:42px;
top:103px;
}

.zero .triangle {
  position: absolute;
left:20px;
top:49px;
}

.zero .line {
  position: absolute;
left:44px;
top:11px;
}

.zero .toppoint {
  position: absolute;
left:58px;
top:22px;
}

.zero .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.zero .mediumline {
  position: absolute;
left:56px;
top:108px;
}

.zero .bottomtriangle {
  position: absolute;
left:59px;
top:117px;
}

.zero .descender2 {
  position: absolute;
left:59px;
top:30px;
}

















.one {
position: relative;
right: 33px;
}
.one .talldescender2 {
  
  position: absolute;
left:59px;
top:40px;
}
.one .bottompoint {
  position: absolute;
left:65px;
top:136px;
}
.one .littleline {
  position: absolute;
left:82px;
top:141px;
}
.one .bottompoint2 {
  position: absolute;
left:58px;
top:26px;
}
.one .littleline2 {
  position: absolute;
left:54px;
top:21px;
}
.one .sharpdescendershort2 {
  
  position: absolute;
left:59px;
top:133px;
}
















.two{
right: 0px;
top:8px;
}
.two .thicktoppointmiddlex {
  position: absolute;
left:16px;
top:83px;
}
.two .sharpdescender {
  
  position: absolute;
left:53px;
top:27px;
}
.two .sharpdescender2 {
  
  position: absolute;
left:51px;
top:114px;
}
.two .sharpdescenderx {
  
  position: absolute;
left:14px;
top:31px;
}
.two .sharpdescender2x {
  
  position: absolute;
left:13px;
top:114px;
}
.two .line {
  position: absolute;
left:44px;
top:59px;
}
.two .toptriangle {
position: absolute;
left:30px;
top:33px;
}
.two .diamond3 {
position: absolute;
left:20px;
top:45px;
}
.two .mediumline {
  position: absolute;
left:34px;
top:112px;
}
.two .middleline {
  position: absolute;
left:31px;
top:8px;
}
.two .diamond {
position: absolute;
left:42px;
top:124px;
}
.two .sharpdescendershort {
  
  position: absolute;
left:9px;
top:32px;
}
.two .sharpdescendershort2 {
  
  position: absolute;
left:51px;
top:115px;
}
.two .thicktoppoint2 {
  position: absolute;
left:51px;
top:9px;
}

















.three .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.three .triangle {
  position: absolute;
left:20px;
top:49px;
}

.three .line {
  position: absolute;
left:44px;
top:11px;
}

.three .thicktoppoint {
  position: absolute;
left:57px;
top:22px;
}
.three .thicktoppoint2 {
  position: absolute;
left:57px;
top:88px;
}

.three .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.three .sharpdescender {
  
  position: absolute;
left:59px;
top:39px;
}

.three .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.three .middleline {
  position: absolute;
left:55px;
top:68px;
}
.three .middleline2 {
  position: absolute;
left:55px;
top:111px;
}





















.four {
transform: rotate(180deg);
position: relative;
right: 39px;
top:2px;
}

.four .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.four .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.four .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.four .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.four .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.four .littleline {
  position: absolute;
left:15px;
top:41px;
}

.four .littleline2 {
  position: absolute;
left:74px;
top:141px;
}

.four .bottomline3 {
  position: absolute;
left:37px;
top:88px;
}

.four .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}
.four .triangle2 {
  position: absolute;
left:20px;
top:40px;
}
.four .sharpdescender2 {
  
  position: absolute;
left:20px;
top:31px;
}
.four .sharpdescenderx {
  
  position: absolute;
left:53px;
top:86px;
}
.four .sharpdescendershort {
  
  position: absolute;
left:20px;
top:135px;
}


















.five .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.five .triangle {
  position: absolute;
left:20px;
top:49px;
}

.five .line {
  position: absolute;
left:44px;
top:11px;
}

.five .thicktoppoint {
  position: absolute;
left:57px;
top:22px;
}
.five .thicktoppoint2 {
  position: absolute;
left:57px;
top:69px;
}

.five .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.five .sharpdescender {
  
  position: absolute;
left:59px;
top:39px;
}

.five .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.five .sharpdescendershort2 {
  
  position: absolute;
left:59px;
top:87px;
}
.five .middleline {
  position: absolute;
left:45px;
top:59px;
}
.five .middleline2 {
  position: absolute;
left:55px;
top:111px;
}
.five .sharpdescender {
  
  position: absolute;
left:20px;
top:59px;
}


















.six .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.six .triangle {
  position: absolute;
left:20px;
top:49px;
}

.six .line {
  position: absolute;
left:44px;
top:11px;
}

.six .thicktoppoint {
  position: absolute;
left:57px;
top:22px;
}
.six .thicktoppoint2 {
  position: absolute;
left:57px;
top:88px;
}

.six .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.six .sharpdescender {
  
  position: absolute;
left:59px;
top:39px;
}

.six .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.six .middleline {
  position: absolute;
left:45px;
top:78px;
}
.six .middleline2 {
  position: absolute;
left:55px;
top:111px;
}
















.seven .thicktoppointmiddlex {
  position: absolute;
left:16px;
top:83px;
}
.seven .sharpdescender {
  
  position: absolute;
left:53px;
top:27px;
}
.seven .sharpdescender2 {
  
  position: absolute;
left:51px;
top:114px;
}
.seven .sharpdescenderx {
  
  position: absolute;
left:14px;
top:31px;
}
.seven .sharpdescender2x {
  
  position: absolute;
left:13px;
top:114px;
}
.seven .line {
  position: absolute;
left:44px;
top:59px;
}
.seven .toptriangle {
position: absolute;
left:30px;
top:33px;
}
.seven .diamond3 {
position: absolute;
left:20px;
top:45px;
}
.seven .mediumline {
  position: absolute;
left:34px;
top:112px;
}
.seven .middleline {
  position: absolute;
left:49px;
top:8px;
}
.seven .diamond {
position: absolute;
left:42px;
top:124px;
}
.seven .sharpdescendershort {
  
  position: absolute;
left:20px;
top:39px;
}
.seven .sharpdescendershort2 {
  
  position: absolute;
left:51px;
top:115px;
}














.eight {
transform: rotate(180deg);
position: relative;
right: 39px;
top:2px;
}
.eight .descender {
  
  position: absolute;
left:20px;
top:68px;
}

.eight .triangle {
  position: absolute;
left:20px;
top:49px;
}

.eight .line {
  position: absolute;
left:44px;
top:11px;
}

.eight .thicktoppoint {
  position: absolute;
left:57px;
top:22px;
}
.eight .thicktoppoint2 {
  position: absolute;
left:57px;
top:88px;
}
.eight .thicktoppoint3 {
  position: absolute;
left:27px;
top:138px;
}
.eight .thicktoppoint4 {
  position: absolute;
left:27px;
top:98px;
}

.eight .bottompoint2 {
  position: absolute;
left:26px;
top:136px;
}
.eight .sharpdescender {
  
  position: absolute;
left:59px;
top:39px;
}

.eight .sharpdescendershort {
  
  position: absolute;
left:59px;
top:106px;
}
.eight .middleline {
  position: absolute;
left:55px;
top:68px;
}
.eight .middleline2 {
  position: absolute;
left:55px;
top:111px;
}
.eight .sharpdescendershort2 {
  
  position: absolute;
left:20px;
top:125px;
}
.eight .sharpdescenderx {
  
  position: absolute;
left:20px;
top:59px;
}

















.nine {
transform: rotate(180deg);
position: relative;
right: 39px;
top:2px;
}

.nine .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.nine .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.nine .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.nine .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.nine .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.nine .littleline {
  position: absolute;
left:15px;
top:41px;
}

.nine .littleline2 {
  position: absolute;
left:74px;
top:141px;
}

.nine .bottomline3 {
  position: absolute;
left:37px;
top:88px;
}

.nine .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}
.nine .triangle2 {
  position: absolute;
left:20px;
top:40px;
}
.nine .sharpdescender2 {
  
  position: absolute;
left:20px;
top:31px;
}
.nine .sharpdescenderx {
  
  position: absolute;
left:53px;
top:86px;
}
.nine .middleline {
  position: absolute;
left:49px;
top:115px;
}
.nine .littleline2 {
  position: absolute;
left:52px;
top:131px;
}


















.question .thicktoppointmiddlex {
  position: absolute;
left:16px;
top:83px;
}
.question .sharpdescender {
  
  position: absolute;
left:53px;
top:27px;
}
.question .sharpdescender2 {
  
  position: absolute;
left:51px;
top:114px;
}
.question .sharpdescenderx {
  
  position: absolute;
left:14px;
top:31px;
}
.question .sharpdescender2x {
  
  position: absolute;
left:13px;
top:114px;
}
.question .line {
  position: absolute;
left:44px;
top:59px;
}
.question .toptriangle {
position: absolute;
left:30px;
top:33px;
}
.question .diamond3 {
position: absolute;
left:20px;
top:45px;
}
.question .mediumline {
  position: absolute;
left:34px;
top:112px;
}
.question .middleline {
  position: absolute;
left:49px;
top:8px;
}
.question .diamond {
position: absolute;
left:42px;
top:124px;
}
.question .sharpdescendershort {
  
  position: absolute;
left:20px;
top:39px;
}

.question .sharpdescendershort2 {
  position: absolute;
left:13px;
top:162px;
}














.exclamation {
position: relative;
right: 33px;
}
.exclamation .talldescender2 {
  
  position: absolute;
left:59px;
top:40px;
}
.exclamation .bottompoint {
  position: absolute;
left:65px;
top:136px;
}
.exclamation .littleline {
  position: absolute;
left:82px;
top:141px;
}
.exclamation .bottompoint2 {
  position: absolute;
left:58px;
top:26px;
}
.exclamation .littleline2 {
  position: absolute;
left:54px;
top:21px;
}
.exclamation .sharpdescendershort2 {
  
  position: absolute;
left:59px;
top:133px;
}

.exclamation .sharpdescendershort {
  position: absolute;
left:59px;
top:162px;
}















.period .thicktoppoint2 {
  position: absolute;
left:66px;
top:153px;
}
.period .thicktoppoint {
  position: absolute;
left:57px;
top:144px;
}






















.comma .sharpdescendershort {
  position: absolute;
left:59px;
top:162px;
}
.comma .thicktoppoint {
  position: absolute;
left:57px;
top:144px;
}













.quoteright .sharpdescendershort {
  position: absolute;
left:59px;
top:29px;
}
.quoteright .thicktoppoint {
  position: absolute;
left:57px;
top:12px;
}
.quoteright .sharpdescendershort2 {
  position: absolute;
left:23px;
top:29px;
}
.quoteright .thicktoppoint2 {
  position: absolute;
left:21px;
top:12px;
}















.quoteleft{
transform: scaleX(-1);
position: relative;
right: 39px;
}
.quoteleft .sharpdescendershort {
  position: absolute;
left:59px;
top:29px;
}
.quoteleft .thicktoppoint {
  position: absolute;
left:57px;
top:12px;
}
.quoteleft .sharpdescendershort2 {
  position: absolute;
left:23px;
top:29px;
}
.quoteleft .thicktoppoint2 {
  position: absolute;
left:21px;
top:12px;
}























   @keyframes move {
  from {transform:scaleY(0);}
  to {transform: scaleY(1);}
}

@keyframes line {
  from {width: 0px;
      height: 0px;}
  to {width: 1px;
      height: 67px;}
}
   










.letter.beenMoused .descender {
        animation-name: move;

}
.letter.beenMoused .descender2 {
        animation-name: move;

}
.letter.beenMoused .descender3 {
        animation-name: move;

}
.letter.beenMoused .talldescender {
  animation-name: move;

}
.letter.beenMoused .talldescender3 {
  animation-name: move;

}
.letter.beenMoused .talldescender2 {
  animation-name: move;

}
.letter.beenMoused .descendermedium {
  animation-name: move;

}
.letter.beenMoused .descendermedium2 {
  animation-name: move;

}
.letter.beenMoused .line {
  transform:scaleY(1) rotate(45deg);  


}

  












   .descender {
      width: 19px;
      height: 76px;
      background: black; 
      transform:scaleY(0);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;
    }

    .descenderj {
      width: 19px;
      height: 68px;
      background: black;  
      -name: move;
      -duration: 4s;
    }

    .descender2 {
      width: 19px;
      height: 87px;
      background: black;
      background: black;  
      transform:scaleY(0);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;

    }
    .descender3 {
      width: 19px;
      height: 94px;
      background: black;
      transform:scaleY(0);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;}

    .descendermedium {
      width: 19px;
      height: 95px;
      background: black;
      transform:scaleY(0);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;}

      .descendermedium2 {
      width: 19px;
      height: 85px;
      background: black;
      transform:scaleY(0);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;}


.talldescender {
      width: 19px;
      height: 114px;
      background: black;
      transform:scaleY(0);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;;
    }



    .talldescender3 {
        width: 19px;
      height: 104px;
      transform:scaleY(0);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;;

    }

    .sharpdescender {
      width: 19px;
      height: 48px;
      background: black;
      transform: skewY(-45deg);
      background: black;  
      -name: move;
      -duration: 4s;

    }

     .sharpdescender2 {
      width: 19px;
      height: 40px;
      background: black;
      transform: skewY(-45deg);
      background: black;  
      -name: move;
      -duration: 4s;

    }

    .sharpdescenderx {
      width: 19px;
      height: 47px;
      background: black;
      transform: skewY(-45deg);
      background: black;  
      -name: move;
      -duration: 4s;

    }

     .sharpdescender2x {
      width: 19px;
      height: 40px;
      background: black;
      transform: skewY(-45deg);
      background: black;  
      -name: move;
      -duration: 4s;

    }

    .sharpdescendershort {
      width: 19px;
      height: 21px;
      background: black;
      transform: skewY(-45deg);
      -name: move;
      -duration: 4s;

    }

    .sharpdescendershort2 {
      width: 19px;
      height: 21px;
      background: black;
      transform: skewY(-45deg);
      -name: move;
      -duration: 4s;

    }

    .talldescender2 {
      width: 19px;
      height: 104px;
      background: black;
      transform:scaleY(0);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;
    }
   .talldescender2h {
      width: 19px;
      height: 104px;
      background: black;
      -name: move;
      -duration: 4s;
    }

    .triangle{
      width: 0;
      height: 0;
      border-bottom: 19px solid black;
      border-left: 19px solid transparent;
    }

    .triangle2{
      width: 0;
      height: 0;
      border-bottom: 19px solid black;
      border-left: 19px solid transparent;
    }

     .bottomtriangle{
      width: 0;
      height: 0;
      border-bottom: 19px solid black;
      border-left: 19px solid transparent;
      transform: rotate(180deg);
    }


    .diamond{
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      background: black;

  
    }
    .diamond2{
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      background: black;
  
    }
     .diamond3{
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      background: black;
  
    }

    .toppoint{
      width: 14px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }
    .thicktoppoint{
      width: 14px;
      height: 26px;
      transform: rotate(45deg);
      background: black;
     }

     .thicktoppointmiddle{
      width: 61px;
      height: 26px;
      transform: rotate(45deg);
      background: black;
     }

     .thicktoppointmiddlex{
      width: 52px;
      height: 26px;
      transform: rotate(45deg);
      background: black;
     }
     .thicktoppoint2{
      width: 14px;
      height: 26px;
      transform: rotate(45deg);
      background: black;
  
    }
    .thicktoppoint3{
      width: 14px;
      height: 26px;
      transform: rotate(45deg);
      background: black;
  
    }
    .thicktoppoint4{
      width: 14px;
      height: 26px;
      transform: rotate(45deg);
      background: black;
  
    }

    .bottompoint{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }
    .bottompointh{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }


    .bottompoint2{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }
    .bottompoint2h{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }

    .bottompoint3{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }

    .bottompoint4{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }
    .bottompoint5{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }

    .bottompoint6{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }

     .bottompointopposite{
      width: 14px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }
   .line{
      width: 1px;
      height: 67px;
      transform: ;
      background: black;
      transform:scaleY(0) rotate(45deg);  
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      transform-origin: 0 0;
      transition: 1s all ease;
    }

    .linetee{
      width: 1px;
      height: 101px;
      transform: rotate(45deg);
      background: black;
  
    }

    .littleline{
      width: 1px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }

    .littlelineh{
      width: 1px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }

    .littlelineopposite{
      width: 1px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }

     .littleline2{
      width: 1px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }
    .littleline2h{
      width: 1px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }

    .mediumline{
      width: 1px;
      height: 60px;
      transform: rotate(45deg);
      background: black;
  
    }

    .bottomline{
      width: 1px;
      height: 41px;
      transform: rotate(45deg);
      background: black;
  
    }

    .bottomline2{
      width: 1px;
      height: 41px;
      transform: rotate(45deg);
      background: black;
  }

   .bottomline3{
      width: 1px;
      height: 48px;
      transform: rotate(45deg);
      background: black;
  }


    .middleline{
      width: 1px;
      height: 63px;
      transform: rotate(45deg);
      background: black;
  
    }

    .middleline2{
      width: 1px;
      height: 57px;
      transform: rotate(45deg);
      background: black;
  
    }

     .littleline2{
      width: 1px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }

     .toptriangle {
      width: 0;
      height: 0;
      border-top: 14px solid;
      border-right: 15px solid transparent;
      transform: rotate(-45deg);
    }

    




    .toptriangle.pink{
      border-top-color: rgb(214, 59, 101);
      background:transparent;
    }

    .triangle.pink{
      border-bottom-color: rgb(214, 59, 101);
      background:transparent;
    }
    .bottomtriangle.pink{
      border-bottom-color: rgb(214, 59, 101);
      background:transparent;
    }


    



    .triangle.blue{
      border-bottom-color: rgb(149, 203, 219);
      background:transparent;
    }
     .triangle2.blue{
      border-bottom-color: rgb(149, 203, 219);
      background:transparent;
    }
    .toptriangle.blue{
      border-top-color: rgb(149, 203, 219);
      background:transparent;
    }
    .bottomtriangle.blue{
      border-bottom-color: rgb(149, 203, 219);
      background:transparent;
    }





    .toptriangle.peach{
      border-top-color: #fab496;
      background:transparent;
    }

    .triangle.peach{
      border-bottom-color: #fab496;
      background:transparent;
    }
    .bottomtriangle.peach{
      border-bottom-color: #fab496;
      background:transparent;
    }

    





    .pink {
      background-color: rgb(214, 59, 101);
    }

.blue {
      background-color: rgb(149, 203, 219);
    }

    .peach {
      background-color: #fab496;
    }


*/