body {
	background: #cccccc;
}

.letter{
	position:relative;
	float:left;
	width:154px;
	height:154px;
}

.a .diamond {
position: absolute;
left:42px;
top:103px;
}

.a .talldescender {
	
	position: absolute;
left:59px;
top:30px;
}

.a .descender {
	
	position: absolute;
left:20px;
top:68px;
}

.a .triangle {
	position: absolute;
left:20px;
top:49px;
}

.a .line {
	position: absolute;
left:44px;
top:11px;
}

.a .littleline {
	position: absolute;
left:82px;
top:141px;
}

.a .littleline2 {
	position: absolute;
left:43px;
top:141px;
}

.a .toppoint {
	position: absolute;
left:58px;
top:22px;
}

.a .bottompoint {
	position: absolute;
left:65px;
top:136px;
}

.a .bottompoint2 {
	position: absolute;
left:26px;
top:136px;
}

.o .descender {
	
	position: absolute;
left:20px;
top:68px;
}

.o .diamond {
position: absolute;
left:42px;
top:103px;
}

.o .triangle {
	position: absolute;
left:20px;
top:49px;
}

.o .line {
	position: absolute;
left:44px;
top:11px;
}

.o .toppoint {
	position: absolute;
left:58px;
top:22px;
}

.o .bottompoint {
	position: absolute;
left:26px;
top:136px;
}

.o .mediumline {
	position: absolute;
left:56px;
top:108px;
}

.o .bottomtriangle {
	position: absolute;
left:59px;
top:117px;
}

.o .descender2 {
	position: absolute;
left:59px;
top:30px;
}
.e .descendermedium {
	
	position: absolute;
left:20px;
top:49px;
}

.e .diamond {
position: absolute;
left:42px;
top:103px;
}

.e .line {
  position: absolute;
left:44px;
top:10px;
}

.e .bottomline {
  position: absolute;
left:50px;
top:124px;
}

.e .littleline {
  position: absolute;
left:15px;
top:31px;
}

.e .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.e .bottompoint2 {
  position: absolute;
left:19px;
top:35px;
}
.e .diamond2 {
position: absolute;
left:60px;
top:130px;
}

.e .diamond3 {
position: absolute;
left:52px;
top:31px;
}

.e .toptriangle {
position: absolute;
left:62px;
top:21px;
}

.n .descendermedium2 {
  
  position: absolute;
left:20px;
top:59px;
}

.n .bottompoint2 {
  position: absolute;
left:19px;
top:45px;
}
.n .bottompoint {
  position: absolute;
left:26px;
top:136px;
}

.n .bottompoint4 {
  position: absolute;
left:57px;
top:136px;
}
.n .talldescender2 {
  
  position: absolute;
left:51px;
top:40px;
}
.n .littleline {
  position: absolute;
left:15px;
top:41px;
}

.n .littleline2 {
  position: absolute;
left:74px;
top:141px;
}

.n .bottomline {
  position: absolute;
left:39px;
top:19px;
}

.n .bottompoint3 {
  position: absolute;
left:50px;
top:26px;
}




   .descender {
      width: 19px;
      height: 76px;
      background: black;}

    .descender2 {
      width: 19px;
      height: 87px;
      background: black;

    }

    .descendermedium {
      width: 19px;
      height: 95px;
      background: black;}

      .descendermedium2 {
      width: 19px;
      height: 85px;
      background: black;}


.talldescender {
      width: 19px;
      height: 114px;
      background: black;

    }

    .talldescender2 {
      width: 19px;
      height: 104px;
      background: black;

    }

    .triangle{
      width: 0;
      height: 0;
      border-bottom: 19px solid black;
      border-left: 19px solid transparent;
    }

     .bottomtriangle{
      width: 0;
      height: 0;
      border-bottom: 19px solid black;
      border-left: 19px solid transparent;
      transform: rotate(180deg);
    }


    .diamond{
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      background: black;
  
    }
    .diamond2{
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      background: black;
  
    }
     .diamond3{
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      background: black;
  
    }

    .toppoint{
      width: 14px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }

    .bottompoint{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }


    .bottompoint2{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }

    .bottompoint3{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }

    .bottompoint4{
      width: 14px;
      height: 22px;
      transform: rotate(135deg);
      background: black;
  
    }

.line{
      width: 1px;
      height: 67px;
      transform: rotate(45deg);
      background: black;
  
    }

    .littleline{
      width: 1px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }

     .littleline2{
      width: 1px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }

    .mediumline{
      width: 1px;
      height: 60px;
      transform: rotate(45deg);
      background: black;
  
    }

    .bottomline{
      width: 1px;
      height: 41px;
      transform: rotate(45deg);
      background: black;
  
    }

     .littleline2{
      width: 1px;
      height: 22px;
      transform: rotate(45deg);
      background: black;
  
    }

     .toptriangle {
      width: 0;
      height: 0;
      border-top: 14px solid black;
      border-right: 15px solid transparent;
      transform: rotate(-45deg);
    }



*/