* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Roboto Mono', monospace;
	
	font-size: 15px;
	font-weight: normal;
	color:lightgrey;
	background-color: white;

	
}





#container {
	width:1350px;
	margin: 0 auto;
	position: absolute;
	top: 40px;
	left:74px;
}

#exercises, #projects {
	margin: 40px 0px;
}

h1 {
	font-size:40pt;
}

h1:hover {
	color:black;
}

h1, 

h2, h3 {
	margin: 20px 0;
    font-size:20pt;
} 

h2:hover {
	color:black;
}

h3:hover {
	color:black;
}

p {
	margin: 20px 0;
	font-size:14pt;
	line-height: 150%;
}

p:hover {
	color:black;
}

ul {
	list-style-type: none;
}

a {
	font-color:white;
}

a:hover {
	color:red;
}