body {
	background: #cccccc;
}

   #table {
      width: 459px;
      height: 149px;
      transform: skew(70deg);
      background: rgb(189, 157, 130);
      top: 283px;
	  left: 249px;
	  position: absolute;

    }

.stage {
	width: 900px;
	height: 600px;
	margin: 100px auto;
	background: white;
	position: relative;
}

#triangle {
	width: ;
	height: ;
	border-left: px solid transparent;
	border-right: px solid transparent;
	border-bottom: px solid yellow;
	position: absolute;
	top: ;
	left: ;
}

#square {
	width: 5px;
	height: 17px;
	background: brown;
	top: 212px;
	left: 472px;
	position: absolute;
	transform: rotate(-9deg);

}

  #trap {
      border-bottom: 10px black solid;
      border-left: 32px solid transparent;
      border-right: 20px solid transparent;
      height: 0;
      width: 98px;
      top: 253px;
      left: 303px;
	  position: absolute;
    }

    #camerafront {
	width: 151px;
	height: 86px;
	background: rgb(65, 65, 65);
	top: 263px;
	left: 304px;
	position: absolute;
	;

}

#leg1 {
	width: 20px;
	height: 270px;
	background: rgb(189, 157, 130);
	top: 418px;
	left: 433px;
	position: absolute;
}

#leg2 {
	width: 20px;
	height: 259px;
	background: rgb(189, 157, 130);
	top: 432px;
	left: 889px;
	position: absolute;
}

#leg3 {
	width: 20px;
	height: 270px;
	background: rgb(189, 157, 130);
	top: 284px;
	left: 45px;
	position: absolute;
}

#leg4 {
	width: 20px;
	height: 270px;
	background: rgb(189, 157, 130);
	top: 276px;
	left: 553px;
	position: absolute;
}




#circle {
	width: 150px;
	height: 150px;
	background: rgb(204, 255, 102);
	border-radius: 150px;
	top: 242px;
	left: 472px;
	position: absolute;
}

#circle3 {
	width: 62px;
	height: 62px;
	background: rgb(228, 228, 228);
	border-radius: 150px;
	top: 277px;
	left: 351px;
	position: absolute;
}
   #egg {
      display: block;
      width: 126px;
      height: 180px;
      background-color:rgb(204, 255, 102);
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      top: 203px;
	  left: 468px;
	  position: absolute;
	  transform:rotate(-35deg);
    }
      
#clip {
	width: ;
	height: ;
	background: green;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	top: ;
	left: ;
	position: absolute;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/