body {
	background: #cccccc;
}

.stage {
	width: 900px;
	height: 600px;
	margin: 100px auto;
	background: white;
	position: relative;
}

#triangle {
	width: ;
	height: ;
	border-left: px solid transparent;
	border-right: px solid transparent;
	border-bottom: px solid yellow;
	position: absolute;
	top: ;
	left: ;
}

#square {
	width: 5px;
	height: 12px;
	background: brown;
	top: 203px;
	left: 270px;
	position: absolute;

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */

}

#circle {
	width: 150px;
	height: 150px;
	background: rgb(204, 255, 102);
	border-radius: 150px;
	top: 242px;
	left: 472px;
	position: absolute;
}
   #egg {
      display: block;
      width: 126px;
      height: 180px;
      background-color:rgb(204, 255, 102);
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      top: 203px;
	  left: 468px;
	  position: absolute;
	  transform:rotate(-35deg);
    }

#clip {
	width: ;
	height: ;
	background: green;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	top: ;
	left: ;
	position: absolute;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/